.signing
  .title Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        = f.label :remember_me, class:"remember_me"
    = link_to "Forgot your password?", new_password_path(resource_name),  { :class => "forgot_password" }
    .actions
      = f.button "Log in", class:"login"
  = render "devise/shared/google"
