%h2 Hey there buddy, thanks for wanting to contribute to our exponentionally growing platform.
= form_for exercise do |f|
  = render "shared/show_errors", exercise: exercise
  = f.label :exercise_category
  = f.collection_select(:exercise_category_id, ExerciseCategory.all, :id, :name)
  = f.label :points
  = f.select(:points, [10, 15, 25])
  .code
    .code_to_refactor
      = f.label :code_to_refactor
      = f.text_area :code_to_refactor
    .solution
      = f.label :solution
      = f.text_area :solution
  = f.submit "Submit"
