- alphabet = ("A".."Z").to_a
.exercises-container
  - @decorated_exercise_categories.each do |exercise_category|
    %h3.exercise-category= "#{exercise_category.name}"
    %ul{class: "exercises"}
      - exercise_category.exercises.each_with_index do |exercise, i|
        %li
          .exercise{class: [difficulty_level(exercise), exercise.status]}
            = link_to alphabet[i], exercise_path(exercise)
            .points
              = "#{exercise.points} points"
