.instructions
  .navigation
    %ul
      %li{class: "active"}
        %a{href: "#introduction"} INTRODUCTION
      %li
        %a{href: "#code-challenge"} CODE CHALLENGE
  .tabs
    .introduction{id: "introduction"}
      %h3= @exercise.exercise_category.name
      %p= markdown(@exercise.exercise_category.description)
      %h3 Example
      %p= markdown("```ruby\n#{@exercise.exercise_category.example}\n```")
    .code-challenge{id: "code-challenge"}
      %p= markdown("```ruby\n#{@exercise.code_to_refactor}\n```")
.editor
  .welcome
    %p Please enter your code in the editor below!
  .wrapper
  %footer
    .help Hint
    .next Next
