.instructions
  .navigation
    %ul
      %li.active
        %a{href: "#introduction"} INTRODUCTION
      %li
        %a{href: "#code-challenge"} CODE CHALLENGE
  .tabs
    .introduction#introduction
      %h3= @exercise.exercise_category_name
      %p= markdown(@exercise.exercise_category_description)
      %h3 Example
      %pre.code-highlight= highlight(@exercise.exercise_category_example)
    .code-challenge#code-challenge
      %h3 Please refactor the following code:
      %pre.code-highlight= highlight(@exercise.code_to_refactor)
.editor{data: {storage_id: "exercise_#{@exercise.id}"}}
  .welcome
    %p Please refactor the code in the editor below!
  #wrapper<
    %pre= @exercise.code_to_refactor
  %footer
    .button.hint Hint
    .button.submit= link_to "Submit", "#",  data: { next_exercise: next_exercise.id }
    #message
      #success
        %p Nice refactoring!
        #next= link_to "Go to next exercise", exercise_path(next_exercise)
      #fail
        %p Oops... review your code, something is wrong
      %p#close x
    .solution
      %h2 Solution
      %pre.code-highlight= highlight(@exercise.code_to_refactor)
    #key_words= @exercise.keywords_hash.to_json
