!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Refactorlicious
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice
      %p.flashmessage.notice= notice
    - if alert
      %p.flashmessage.alert= alert
    %header
      .logo
        = link_to image_tag('refactorlicious.png'), root_path
      .menu
        - if user_signed_in?
          .menu-item= link_to "Exercises", exercises_path
          .menu-item= link_to "Logout", session_path, method: :delete
        - else
          .menu-item= link_to "Login", omniauth_authorize_path(:user, :google_oauth2)
    .content
      = yield
