!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Refactorlicious
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice
      %p.flashmessage.notice= notice
    - if alert
      %p.flashmessage.alert= alert
    - if user_signed_in?
      %h3
        You are logged in #{current_user.first_name}
      = link_to "Logout", session_path, method: :delete
    - else
      = link_to "Login with Google", omniauth_authorize_path(:user, :google_oauth2)
    = yield
